{% extends 'base.html' %}
{% block content %}
    {% if is_user_page %}
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="two columns">
                        {{ profile_form.first_name.errors }}
                        <label for="{{ profile_form.first_name.id_for_label }}">First name:</label>
                        {{ profile_form.first_name }}
                    </div>
                    <div class="two columns">
                        {{ profile_form.last_name.errors }}
                        <label for="{{ profile_form.last_name.id_for_label }}">First name:</label>
                        {{ profile_form.last_name }}
                    </div>
                </div>
                <div class="row">
                    {{ profile_form.current_position.errors }}
                    <label for="{{ profile_form.current_position.id_for_label }}">Current position:</label>
                    {{ profile_form.current_position }}
                </div>
                <div class="row">
                    {{ profile_form.about_you.errors }}
                    <label for="{{ profile_form.about_you.id_for_label }}">Current position:</label>
                    {{ profile_form.about_you }}
                </div>
                <div class="row">
                    {{ profile_form.topics.errors }}
                    <label for="{{ profile_form.topics.id_for_label }}">Current position:</label>
                    {{ profile_form.topics }}
                </div>
                <button type="submit" class="button-primary">Update</button>
            </form>
        </div>
    {% else %}
        <ul>
            {% for topic in user.profile.topics.all %}
                <li>{{ topic.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
